{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}
    <h1>Shopping cart Overzicht</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Totaal Bedrag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set totaaltje = 0 %}
        {% for product in cart %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.naam }}</td>
                <td>{{ product.omschrijving }}</td>
                <td> € <span>{{ product.prijs }}</span></td>
                <td>{{ product.aantal }}</td>
                <td>€ <span>{{ product.prijs * product.aantal }}</span></td>
                {% set totaaltje = totaaltje + product.prijs * product.aantal %}

            </tr>


        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}


        <tr>
            <th>

                totaal: &euro; <span>  {{ totaaltje }}</span>
            </th>
        </tr>
        </tbody>
    </table>


{% endblock %}
